# IDE
_ide_helper*.php
.phpstorm.meta.php
.idea/
nbproject/

# Files
*~
._expandrive
*.lock
*.bak
*.config
*.csv
*.db
*.env
*.gz
*.htm
*.html
*.idx
*.log
*.md
*.mp3
*.ogg
*.old
*.phar
*.restore
*.sh
*.sql
*.tar
*.txt
*.xml
*.zip
.DS_Store
.hgignore
.htpasswd
.htsecure*
/bitrix/*.*
/bitrix/**/LICENSE
/bitrix/**/NOTICE
/bitrix/css/**/*.min.css
/bitrix/components/**/*.map.js
/bitrix/components/**/*.min.css
/bitrix/components/**/*.min.js
/bitrix/components/**/images/
/bitrix/js/**/*.map.js
/bitrix/js/**/*.min.css
/bitrix/js/**/*.min.js
/bitrix/modules/**/*.map.js
/bitrix/modules/**/*.min.css
/bitrix/modules/**/*.min.js
!composer.lock
!/KSIDESTYLE.xml
!/README.md

# DB & uniq configs
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/bitrix/modules/cluster/memcache.php

# Bitrix core
/bitrix/activities/
/bitrix/admin/
/bitrix/backup/
/bitrix/cache/
/bitrix/catalog_export/
/bitrix/components/**/distr/
/bitrix/fonts/
/bitrix/gadgets/
/bitrix/html_pages/
/bitrix/image_uploader/
/bitrix/images/
/bitrix/js/**/examples/
/bitrix/js/**/images/
/bitrix/js/**/patterns/
/bitrix/managed_cache/
/bitrix/modules/*/cvtables/
/bitrix/modules/*/distr/
/bitrix/modules/*/fonts/
/bitrix/modules/*/tmp/
/bitrix/modules/*/ttf/
/bitrix/modules/**/install/
/bitrix/otp/
/bitrix/panel/
/bitrix/services/
/bitrix/sounds/
/bitrix/stack_cache/
/bitrix/template/
/bitrix/themes/
/bitrix/tmp/
/bitrix/tools/
/bitrix/updates/
/bitrix/wizards/
/upload/
!/bitrix/components/**/*.log/

# Custom folders
/test/
/tmp/

# Custom files
!/local/modules/README.md
